// todo app
// Override bulma to beautify some stuff
.todo-app {
	& &__panel {
		margin: 0 auto;
		max-width: 480px;
		box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
		border-radius: 0.5rem;
		padding: 1.5rem;
		.panel-heading,
		.panel-block,
		.panel-tabs {
			border: 0 none;
		}
	}
	& &__title {
		background-color: transparent;
		font-weight: normal;
		padding: 0 0.5rem 1rem;
		text-transform: uppercase;
	}

	& &__form {
		width: 100%;
	}

	& &__widget {
		flex: 1 1 auto;
		position: relative;
	}

	& &__input {
		box-shadow: none;
		padding-right: 3em;
		border: 0 none;
		background-color: rgba(0, 0, 0, 0.04);
		&:hover {
			background-color: rgba(0, 0, 0, 0.06);
		}
		&:active,
		&:focus {
			background-color: rgba(0, 0, 0, 0.08);
		}
	}

	& &__submit {
		height: 2.25em;
		width: 2.25em;
		justify-content: center;
		align-items: center;
		padding: 0;
		box-shadow: 0 0 0 4px #fff;
		position: absolute;
		right: 0em;
		top: 0;
	}

	& &__tabs {
		margin-bottom: 1rem;
	}
}

// Todo list styles
.todo-list {
	& &__status {
		height: 8px;
		width: 8px;
		display: block;
		background-color: #23d160;
		border-radius: 100%;
		margin: 0 10px 0 4px;
	}

	& &__block {
		border-radius: 99999999px;
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
		background-color: #fff;
		align-items: center;
		.delete {
			margin-left: auto;
		}
		&--is-done {
			.todo-list__status {
				background-color: rgba(0, 0, 0, 0.1);
			}
			.todo-list__label {
				color: rgba(0, 0, 0, 0.3);
			}
		}
	}
}
